<html>
    <head>
        <link rel="stylesheet" href="css/styleMain.css">
    </head>
    <body>
        <div class="title">
        <a style="font-size: 25px">Welcome  </a><a style="font-size: 40px;"><%= userData.name %></a>
        </div>
        <div class="buttons">
        <a href="/playlists/list"><img src="img/buttonAdd.png"></a> <a href="/logout"><img src="img/Switch.png"></a>
        </div>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Song</th>
                        <th>Singer</th>
                    </tr>
                </thead>
                <tBody>
                    <% for (let i = 0; i < allMusic.length; i++) { %>
                        <tr>
                            <td><a style="text-decoration: none; color: white;" href="/home/<%= allMusic[i].id %>"><%= allMusic[i].judul %></a></td>
                            <td><%= allMusic[i].penyanyi %></td>
                        </tr>
                    <% } %>
                </tBody>
            </table>
        </div>


        <a href="" class="Opt"><img src="img/back.png"></a> <a class="NowPlaying">Now Playing <%= allMusic[1].judul %></a> <a href="" class="Opt" style="margin-left:83%"><img src="img/next.png"></a>
        <div class="player">
        <audio id="audioPlayer001" style="max-width:80%; width: 80%; " >
             <source src="music-file/<%= allMusic[1].judul %>.mp3" type="audio/mpeg">
        </audio>
        </div>

        <script>
            audio = document.getElementById('audioPlayer001');
            audio.addEventListener('ended',function() {;       
            audio.setAttribute('src', 'music-file/<%= allMusic[2].judul %>.mp3');
            audio.play()
            },false )</script>
        <script src="build/jquery.js"></script>
        <script src="build/mediaelement-and-player.min.js"></script>
        <link rel="stylesheet" href="build/mediaelementplayer.css" />
        <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/3.2.4/mediaelementplayer.css" rel="stylesheet"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/3.2.4/mediaelement-and-player.min.js"></script>
        <script src="build/custom.js"></script>  
    </body>
</html>